<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP06_BenDov_Eulmesekian_Kalik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP06_BenDov_Eulmesekian_Kalik.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark  box-shadow" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href='@Url.Action("Index")'> <img src="../img/logo.png" alt="Logo" width="80px" height="80px" class="d-inline-block align-text-top"> </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Deportes")' > <h3>Deportes</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Paises")' > <h3>Paises</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light"  href='@Url.Action("AgregarDeportista")'> <h3>Agregar Deportista</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Creditos")'> <h3>Créditos</h3></a>
                        </li>
                    </ul>
                    
                </div>
                <H1>PARIS 2024</H1>
            </div>
        </nav>
    </header>
    

        <main class="container-fluid" role="main" class="pb-3">
            @RenderBody()
        </main>




<footer class="footer bg-dark text-white">
    <div class="footer-content">
        <img src="../img/logo.png" alt="Logo" class="footer-logo">

        <div class="vertical-hr"></div>

        <div class="links">
            <p>Privacidad</p>
            <p>Acerca de nosotros</p>
            <p>Recursos externos</p>
            <p class="footer-text">infoJJOO@gmail.com</p>
        </div>

        <div class="social-icons">
            <div class="icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="..."/>
                </svg>
            </div>
            <div class="icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                    <path d="..."/>
                </svg>
            </div>
            <div class="icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                    <path d="..."/>
                </svg>
            </div>
        </div>

        <div class="copy">
            <p class="footer-text">© JJOO Paris 2024</p>
        </div>
    </div>
</footer>

            



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
