<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP06_BenDov_Eulmesekian_Kalik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP06_BenDov_Eulmesekian_Kalik.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href='@Url.Action("Index")'> <img src="../img/logo.png" alt="Logo" width="80px" height="80px" class="d-inline-block align-text-top"> </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Deportes")' > <h3>Deportes</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Paises")' > <h3>Paises</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light"  href='@Url.Action("AgregarDeportista")'> <h3>Agregar Deportista</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href='@Url.Action("Creditos")'> <h3>Créditos</h3></a>
                        </li>
                    </ul>
                    
                </div>
                <H1>PARIS 2024</H1>
            </div>
        </nav>
    </header>
    
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="py-3 my-4 bg-dark">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3 bg-dark">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© JJOO Paris 2024</p>
    </footer>

            



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
