<section class="deportes">



        <div><img src="../img/banner.png"  class="banner" alt=""></div>


        <div class="contenedor-info">
            <h1 class="fuente">Viví la emoción del deporte al más alto nivel</h1>
            <hr>
            <div class="columnas"> 
                @for(int i = 0; i < ViewBag.ListaDeportes.Count; i++)
                {          
                    <div class="lista-deportes" data-image="@Url.Content($"{ViewBag.ListaDeportes[i].Foto}")"> 
                      <!-- <a  href='@Url.Action("VerDetalleDeporte", new { idDeporte = ViewBag.ListaDeportes[i].IdDeporte })'><img src="@Url.Content($"{ViewBag.ListaDeportes[i].Foto}")" class="logo-deporte" alt="logo-deporte" width="40px" height="40px" /></a>  -->
                      <a  href='@Url.Action("VerDetalleDeporte", new { idDeporte = ViewBag.ListaDeportes[i].IdDeporte })'><h3 class="fuente">@ViewBag.ListaDeportes[i].Nombre</h3></a>
                    </div>
                }
            </div>
        </div>


</section>